## Logs
#logs
*.log
npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
#pnpm-debug.log*
#lerna-debug.log*
#
node_modules
#dist-ssr
#*.local
#
## Editor directories and files
.idea
#.DS_Store
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?

.github
.husky
.storybook
public
src
storybook-static
.commitlintrc.json
.env
.eslintrc.cjs
.gitignore
.gitmessage.txt
.prettierignore
.prettierrc.json
.releaserc.json
index.html
package-lock.json
tsconfig.json
tsconfig.node.json
vite.config.ts

*.md

!LICENSE.txt
!README.md
!package.json